.panel {background: #fff;}
form .form-group:last-child {padding-bottom: 0;}
.passcode {position: absolute;right: 0;top: 0; height: 32px;line-height: 32px;margin: 1px; border-left: solid 1px #ddd;border-radius: 0 4px 4px 0;text-align: center;}
.lefter {position: relative;float: left;width: 180px;margin-right: -180px;background: #e6f2fb;text-align: center;}
.righter {float: right;width: 100%;padding-top: 15px;background: #e6f2fb;}
.mainer {margin-left: 180px;}
/*.logo {border-bottom: solid 1px #b5cfd9;padding: 23px 10px;}*/
.logo { display: block; width: 150px; height: 72px; color: #000;}
a:hover .border {border: 1px solid #f13a3a; color: #f13a3a; } 

/*分页总容器样式*/
.pager {padding: 3px; text-align: center; color:#66C;font-size:14px; font-family:Tahoma;}
/*分页链接样式*/
.pager a {text-decoration:none; display:inline-block;border:solid 1px #ddd;border-radius:4px; color:#333;padding:6px 12px 8px 12px;line-height:18px;transition:all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s; }
/*分页链接鼠标移过的样式*/
.pager a:hover {color: #0a8; border: 1px solid #0a8; background-color:#f5f5f5; }
/*当前页码的样式*/
.pager span.current {display:inline-block;border:solid 1px #ddd;border-radius:4px; color:#fff;background-color:#0a8;padding:6px 12px 8px 12px;line-height:18px; font-weight: bold; }
/*不可用分页链接的样式(比如第1页时的“上一页”链接)*/
.pager span.disabled {display:inline-block;border:solid 1px #ddd;border-radius:4px; color:#CCC;padding:6px 12px 8px 12px;line-height:18px; }
/*跳转下拉菜单的样式*/
.pager select {display:inline-block;border:solid 1px #ddd;border-radius:4px; color:#333;padding:6px 12px 8px 12px;line-height:18px; font-size:14px; }
/*跳转文本框的样式*/
.pager input {display:inline-block;border:solid 1px #ddd;border-radius:4px; color:#333;padding:6px 12px 8px 12px;line-height:18px; text-align:center;font-size:14px; }


/*首页*/
@media (max-width: 1015px) { body{width:998px;} }
.main {width: 1200px; margin: auto;}
.main-head {background-color:#F5F5F5; /*显示下边阴影*/position:relative;z-index:3;}
.main-head .search-form{float:right; padding-top:1px; padding-top:3px\9;}
.main-foot {background-color:#eee;}
/*=== 默认-内联  固定宽度，小于760时的导航不再隐藏 Start ===*/


.bg-inverse {background-color: #fff !important}
.bg-inverse a {color: #4D555D;}
.bg-inverse a:hover {color: #000 !important;}
.bg-inverse .nav {padding:0;}
.bg-inverse .nav-inline li {float:left; vertical-align:top;}
.bg-inverse .nav-inline li a {display:block; line-height:28px; text-indent:0; font-size: 15px;}
.bg-inverse .nav-inline .nav-more {float:right;}
/*导航分隔线*/
.bg-inverse .nav-split li {border-right:1px solid rgba(0, 0, 0, .20); border-right:1px solid #0088AA\9;}
.bg-inverse .nav-split ul li,
.bg-inverse .nav-split li:last-child {/*border-right-width:0;*/}
/*导航子菜单*/
.bg-inverse .nav-inline li .drop-menu li{float:none;}
.bg-inverse .nav-inline li .drop-menu li{border:0px solid #fff;}
/*=== 默认-内联  固定宽度，小于760时的导航不再隐藏 End ===*/
/*导航菜单*/
.bg-inverse .nav-inline li a.nav-item {padding: 22px 20px 22px 20px;}	/*导航样式 ie下没效果所以加了个nav-item */
.bg-inverse .nav-inline li a.nav-item:hover {background: #fff;}
.bg-inverse .nav-inline li a.nav-item .arrow {display:inline-block; width:0;height:0; margin-left:0px; vertical-align:middle;
    border-top:4px solid;border-right:4px solid transparent;border-left:4px solid transparent;border-bottom:4px solid transparent;}
/*公共样式修改*/
.text-bbig {font-size:18px;}
.bread-bbig {font-size:14px;padding:2px 8px;}
/*首页-新闻列表样式*/
.list-text2 {padding-left:0px;}
.list-text2 li{list-style:none;position:relative;overflow:hidden; height:52px;}
.list-text2 .title{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical; /*width:238px;*/height:52px;line-height:23px; white-space:normal;overflow:hidden;text-overflow:ellipsis;}
.list-text2 .date{float:left;display:inline-block;margin-right:5px; padding-top:2px;width:50px;height:52px;line-height:20px; text-align:center; font-size:12px;font-family:Georgia;font-weight:bold;color:#0a8;}
.list-text2 .date span{display:block;font-size:16px;}
.list-text li{list-style:none;position:relative;overflow:hidden;}
.list-text .title{display:block;padding-right:75px; width:100%;height:26px;line-height:26px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.list-text .date{position:absolute;top:50%;right:0; margin-top:-11px; color:#999}
.list-text .paddingMD,.paddingMD {padding-right:42px;} /*新闻列表右侧日期只显示“月-日”*/
.list-text .paddingR0,.paddingR0 {padding-right:0px;} /*去掉新闻列表右侧给日期的留空位置*/

.classList {display: block;line-height: 29px;color: #333;font-size: 13px;border-bottom: 1px solid #E2E2E2;position: relative;}
.classList p {margin-bottom: 0px;}
/*.list-text .title的 height 修改时这里也要相应更新： heightRN = 30+height*N  */
/* color:red;//所有浏览器 color:blue\9;//所有IE color:blue\0;//IE8 +color:orange;//IE7 _color:green;//IE6 */
.heightR15 {min-height:420px;min-height:420px\9;+min-height:390px;} .heightR12 {min-height:342px;min-height:342px\9;+min-height:312px;} 
.heightR10 {min-height:290px;min-height:290px\9;+min-height:260px;} .heightR9 {min-height:264px;min-height:264px\9;+min-height:234px;} .heightR8 {min-height:238px;min-height:238px\9;+min-height:208px;}
.heightR6 {min-height:186px;min-height:186px\9;+min-height:156px;} .heightR5 {min-height:160px;min-height:160px\9;+min-height:130px;} .heightR4 {min-height:134px;min-height:134px\9;+min-height:104px;}
.height-mini {min-height:450px;min-height:450px\9;+min-height:420px;}
.heightR6-little {min-height:179px;min-height:179px\9;+min-height:149px;} .body-bottom-little {padding:15px 15px 8px 15px;}
/*内容-侧边栏列表样式*/
.panel-body ul.nav-sub {border-top: solid 2px #ddd;}
.panel-body .nav-sub a {margin-bottom: 0px; padding: 5px 20px;}
.newslist .list-group li {white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
/*内容-新闻正文样式*/
.detail {padding-top: 15px; }
.detail h1{text-align: center;}
.detail h3{padding-top: 15px; font-size:14px; text-align: center;}
.detail .info{padding-top: 15px; margin-bottom: 0px; text-align: center;}
.detail .info ul{width:100%;}
.detail .info li{display: inline-block; float:left; min-width: 230px; text-align: left; padding-left: 30px; }
.detail hr{margin-top: 5px; margin-bottom: 5px; }
.detail .content{margin-top: 20px; margin-bottom: 40px; min-height:350px;}
.detail .editor{padding-right: 30px; text-align: right; }
.detail .associate{padding: 10px 10px 10px 15px; text-align: left; line-height:200%; }

.login-area{float: right; font-size: 16px;}
.login-area span{color: #ccc; padding: 0px 13px 0px 15px;}
.login-area a{line-height: 72px;}
.login-area a:hover{color: #ec1500 !important;}

.text-main{color:#000; opacity:0.7;}
.mainDiv{
	box-shadow: rgba(0,0,0,0.1) 10px 10px 30px 10px inset;background-image: url(../images/bg1.png);background-repeat: no-repeat;background-attachment: fixed;background-size:100% 100%;
	-webkit-transition-property: background-image;
    -webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease;
}
#search {
	float: right;
	width: 220px;
	height: 28px;
	margin-top: 20px;
	border:  solid #e5e5e5 1px;
	border-radius: 18px;
	line-height: 28px;
	background: #fff;
}

#search input {
	border: 0px;
	outline: 0px;
	margin-left: 18px;
	line-height: 28px;
	width: 150px;
	height: 28px;
	color: #333;
	font-family: 微软雅黑;
	background: none;
}

#search button {
	width: 28px;
	height: 25px;
	display: inline-block;
	float: right;
	margin-right: 3px;
	background: url(../images/search.png) no-repeat;
	background-position: center;	
	border: 0px;
}

.border-bottom {
	border-bottom: 1px dotted #ccc;
}

.text-shadow {
	text-shadow: 1px 0 0 #000, 0 1px 0 #000, 
    0 0px 0 #000, -1px 0 0 #000, 
    1px 0 1px #000, 0 1px 1px #000, 
    0 0px 1px #000, -1px 0 1px #000;
}

.move:hover {
	padding: 10px;	
}

#head {
    width: 100%;
    position: absolute;
    top: 72px;
    bottom: -100px;
    left: 0px;
}
