<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<title>登陆</title>
<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css">
<link rel="stylesheet" href="../../../css/relayui.css">
</head>
<body>
<div class="layui-fluid" style="margin-top:15px;">
	<div class="layui-form">
		<div class="layui-row layui-col-space15">
			<div class="layui-card">
				<div class="layui-card-header">编辑通知</div>
	          	<div class="layui-card-body">
			    	<div class="layui-form-item">
			    		<div class="layui-inline">
				    		<label class="layui-form-label">标题</label>
				    		<div class="layui-input-inline" style="width:512px;">
				          		<input class="layui-input" type="text" name="phone" lay-verify="required" placeholder="输入通知推送标题">
				          	</div>
				        </div>
			        </div>
			        <div class="layui-form-item">
			    		<div class="layui-inline">
				    		<label class="layui-form-label">编辑</label>
				    		<div class="layui-inline" style="width:800px;">
				          		<textarea id="demo1" style="display: none;"></textarea>
				          	</div>
				        </div>
			        </div>
			    </div>
          	</div>
          	<div class="layui-footer">
          		<button class="layui-btn layui-btn-blue" style="margin-right: 30px;" data-type="closeWin">取消</button>
	          	<button class="layui-btn layui-btn-normal" lay-submit id="LAY-goods-add-submit" lay-filter="LAY-goods-add-submit">提交</button>
	        </div>
        </div>
	</div>
</div>
<script type="text/javascript" src="../../../js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../../miui/miui.js"></script>
<script type="text/javascript" src="../../../layuiadmin/layui/layui.js"></script>
<script type="text/javascript">
layui.config({
	base: '../../../layuiadmin/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index'], function(){
	layui.define(["form","table","element","layedit"], function(e) {
		let form = layui.form;
		let table = layui.table;
		let element = layui.element;
		let layedit = layui.layedit;
		
		layedit.build('demo1');
		
		form.on('submit(LAY-goods-add-submit)', function(data){
			alert("未开发！");
			return;
			if(!fileUploadFlag) {
				layer.msg('文件上传中，请耐心等待', {icon: 6});
				return;
			}
			if(data.field.imgUrl == "") {
				layer.msg('请选择图片', {icon: 2});
				return;
			}
			
        	var field = data.field; //获取提交的字段
        	
        	$.miui.ajax('post','/goods',field).then(res=>{
				layer.msg("添加成功",{icon:1, time: 1500},function(){
					var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
	  	    		parent.layer.close(index);
				});
        	});
      	});  
		
		var active = {
			closeWin: function() {
				$("#LAY_app_tabsheader .layui-this i",window.parent.document).trigger('click');
  	    	}
		};
		
		$('.layui-btn').on('click', function(){
			var type = $(this).data('type');
		    active[type] ? active[type].call(this) : '';
		});
	});
});


</script>
</body>
</html>