<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf8">
	<link rel="stylesheet" type="text/css" href="../js/pintu/pintuer.css">
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../../../layuiadmin/style/template.css" media="all">
	<script type="text/javascript" src="../js/pintu/jquery.js"></script>
	<script type="text/javascript" src="../js/pintu/pintuer.js"></script>
	<script type="text/javascript" src="../js/forie/console-polyfill.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../../../miui/miui.js"></script>
	<script type="text/javascript" src="../../../layuiadmin/layui/layui.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){ 
			layui.config({
			    base: '../../../layuiadmin/' //静态资源所在路径
			  }).extend({
			    index: 'lib/index' //主入口模块
			  }).use(['index','carousel','form','laypage'], function(){
				  var form = layui.form;
				  var laypage = layui.laypage;
				bgInit();
				var carousel = layui.carousel;
				$.miui.ajax('get','/carousel').then(res=>{
					var str = '<div carousel-item>';
					$.each(res.data.content, function(index, item) {
						str += '<div><a href="'+item.targetUrl+'" target="_blank" style="display:block;width:100%;height:100%;background:url('+item.imgUrl+') 50% 50% / cover;"></a></div>'
					});
					str += '</div>';
					$("#carousel").html(str);
					carousel.render({
					    elem: '#carousel'
					    ,width: '100%' //设置容器宽度
					    ,height: '100%'
					    ,arrow: 'always' //始终显示箭头
					    ,anim: 'fade' //切换动画方式
					  });
				});
				
				
				$.miui.ajax('get','/keyword/1').then(res=>{
					$("#nav div").attr("style",'background: url('+res.data.twoBarCodeImgUrl+') 50% 50% / cover;background-size: 100%; background-repeat: no-repeat;');
					$("#produce").html(res.data.address);
				});
				
				$.miui.ajax('get','/goods').then(res=>{
					var str = "";
					$.each(res.data.content, function(index, item){
						str +='<div class="layui-col-md3 layui-col-sm4  padding-small-right"><div class="cmdlist-container"><a href="javascript:;"><img src="'+item.imgUrl+'"></a><a href="javascript:;"><div class="cmdlist-text"><p class="info">'+item.name+'</p><div class="price"><b>￥'+item.price+'</b></div></div></a></div></div>';
						
					})
					$("#goodsList").html(str);
																																										                    
					laypage.render({
						elem: 'goods_page' //注意，这里的 test1 是 ID，不用加 # 号
						,count: res.data.totalElements //数据总数，从服务端得到
						,jump: function(obj, first){
							$.miui.ajax('get','/goods',{page: obj.curr}).then(res=>{
								var str = "";
								$.each(res.data.content, function(index, item){
									str +='<div onclick="window.location.href=\'info.html?goodsId='+item.goodsId+'\'" class="layui-col-md3 layui-col-sm4  padding-small-right"><div class="cmdlist-container"><a href="javascript:;"><img src="'+item.imgUrl+'"></a><a href="javascript:;"><div class="cmdlist-text"><p class="info">'+item.name+'</p><div class="price"><b>￥'+item.price+'</b></div></div></a></div></div>';
									
								})
								$("#goodsList").html(str);
							});
							//首次不执行
							if(!first){
							  //do something
							}
						}
					  });
				});
				
				form.on('submit(goods-search)', function(data){
			      	var field = data.field;
			      	//执行重载
			      	$.miui.ajax('get','/goods',field).then(res=>{
						var str = "";
						$.each(res.data.content, function(index, item){
							str +='<div onclick="window.location.href=\"info.html?goodsId='+item.goodsId+'\"" class="layui-col-md3 layui-col-sm4  padding-small-right"><div class="cmdlist-container"><a href="javascript:;"><img src="'+item.imgUrl+'"></a><a href="javascript:;"><div class="cmdlist-text"><p class="info">'+item.name+'</p><div class="price"><b>￥'+item.price+'</b></div></div></a></div></div>';
							
						})
						$("#goodsList").html(str);
						laypage.render({
							elem: 'goods_page' //注意，这里的 test1 是 ID，不用加 # 号
							,count: res.data.totalElements //数据总数，从服务端得到
							,jump: function(obj, first){
								$.miui.ajax('get','/goods',{page: obj.curr}).then(res=>{
									var str = "";
									$.each(res.data.content, function(index, item){
										str +='<div class="layui-col-md3 layui-col-sm4  padding-small-right"><div class="cmdlist-container"><a href="javascript:;"><img src="'+item.imgUrl+'"></a><a href="javascript:;"><div class="cmdlist-text"><p class="info">'+item.name+'</p><div class="price"><b>￥'+item.price+'</b></div></div></a></div></div>';
										
									})
									$("#goodsList").html(str);
								});
								//首次不执行
								if(!first){
								  //do something
								}
							}
						  });
					});
			    });
			  });
		});
	</script>
</head>
<body>
<div>
	<div class="navbar bg-main bg-inverse">
        <ul class="nav nav-menu nav-inline" id="nav">
			<li><div class="logo" style=""></div></li>
        </ul>
        	<a href="index.html" style="line-height:80px;">首页</a>
			<a href="shopcar.html" style="line-height:80px;">我的购物车</a>
			<a href="order.html" style="line-height:80px;">我的订单</a>
		<div class="login-area margin-right margin-left">
			<div class="layui-form">
				<div id="search" class="margin-right">
					<input type="text" placeholder="搜索您想要的商品" name="name">
					<button lay-submit lay-filter="goods-search"></button>
				</div>
				<a class="nav-item" href="login.html" target="_self">登陆</a><span>/</span>
			<a class="nav-item" href="reg.html" target="_self">注册</a>
			</div>
			
		</div>
		
    </div>
</div>
<div id="head" class="mainDiv">
<div class="main">
	<div class="line padding-big-top">
		<div class="x5">
			<div class="x12 padding-small-right">
				<div class="panel banner" style="width:100%;height:283px;">
					<div class="layui-carousel" id="carousel" style="left: 0px;">
						
					</div>
				</div>
			</div>
			<div class="x12 padding-small-top padding-small-right">
				<div class="panel">
					<div class="panel-head">
						<span class="text-main text-big"><strong>店铺介绍</strong></span>
						<span class="float-right"><a href="cate.html" target="_blank">MORE+</a></span>
					</div>
					<div class="panel-body heightR8">
						<span id="produce"></span>
					</div>
				</div>
			</div>
		﻿</div>
		<div class="x7">
			<div class="panel">
				<div class="panel-body heightR12" style="height: 540px;background-color:#f2f2f2;">
					<div class="layui-row layui-col-space30">
					<div id="goodsList" style=""></div>
					   <div class="layui-col-md12 layui-col-sm12" id="goods_page"></div>
					  </div>
				</div>
			</div>
		﻿</div>
	</div>
</div>
</div>
</body>
</html>